<% provide(:title, @a_class.name) %>
 <div class="row">
    <aside class="span4">
        <section>
            <h2><b><%= @a_class.name %></b></h2>
            <p><h3>Add a new task to the list</h3></p>
        </section>
    
        <section>
            <% $current_class = @a_class %>
            <%= render 'shared/task_form' %>
        </section>
    </aside>
    <div class="span8">
        <h2>Tasks (<%= @a_class.tasks.count %>)</h2>
        
        <ol class="tasks">
            <%= render @tasks %>
        </ol>
        <%= will_paginate @tasks %>
    </div>
</div>