<% provide(:title, @user.name) %>
<div class="row">
    <aside class="span4">
        <section>
            <h1>
                <%= gravatar_for @user %>
                <%= @user.name %>
            </h1>
        </section>
    </aside>
    <div class="span8">
        <% if @user.a_classes.any? %>
        <section class="classtitle">
        <p>Classes</p>
        </section>
            <ol class="a_classes">
            <%= render @a_classes %>
            </ol>
            <%= will_paginate @a_classes %>
        <% end %>
        <%= link_to "Add a class", addclass_path, class: "btn btn-large btn-primary"%>
    </div>
</div>
